#mainContainerSignIn{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-left: 0px;
    margin-top: 0px;  
        
}

#leftContainerSignIn{
    background-color: #e6e6f9;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

#sideImage{
    width: 100%;
    height: 100%;
}

#rightContainerSignIn{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 0px;
    background-color: #e6e6f9;

 }

#rightContainerInnerboxSignIn{
    width: 65%;
    height: auto;
    padding: 8px;
    font-size: 18px;  
    border: 1px solid blue;
    border-radius: 5px;
    padding: 20px;
    background-color: white;

}

#SignInCheckbox{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer; 
    color: rebeccapurple; 
}



  .signinInput {
    display: block;
    padding: 14px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 12px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    border: 1px solid blue;
    outline: none;
    
  }
#btnsubmit{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: bold;
}
#checkboxRemember{
    display: flex;
    align-items: center;
}
#checkAndForgotContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#signinfooter{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#signinfooter div{
    margin-right: 10px;
}
.signinLinkDecoration{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}




@media screen and (max-width: 500px) {
    #leftContainerSignIn{
        display: none;
    }
    #rightContainerSignIn{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #rightContainerInnerboxSignIn{
        width: 85%;
        height: auto;
        padding: 8px;
        font-size: 15px;    
    }

  .signinInput {
    display: block;
    padding: 8px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 12px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    border: 1px solid blue;
    outline: none;
    
  }
  #checkbox{
    width: 15px;
    height: 15px;
    margin-right: 13px;
    cursor: pointer;   
  }
  #btnsubmit{
    width: 100%;
    padding: 8px;
    margin-top: 15px;
    font-size: 15px;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: bold;
}
  .footer{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: space-between;
    text-decoration: none;
    
  }
  #innerfooter{
    margin-bottom: 10px;
  }
  #login{
    margin-left: 5px;
  }
  .footer a{
    text-decoration: none;
  }

  #checkAndForgotContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media screen and (min-width: 500px) and (max-width: 900px) {
    #rightContainerSignIn{
       padding-right: 3vw;

    }
    #rightContainerInnerboxSignIn{
        width: 100%;
        padding: 10px;
    }
    .signinInput {
        display: block;
        padding: 11px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 12px;
        border-radius: 5px;
        font-size: 16px;
        color: #333;
        border: 1px solid blue;
        outline: none;
      }
      #btnsubmit{
        width: 100%;
        padding: 11px;
        margin-top: 15px;
        font-size: 15px;
        color: white;
        background: black;
        cursor: pointer;
        border-radius: 7px;
        outline: none;
        border: none;
        font-weight: bold;
    }
    #checkAndForgotContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    #checkboxRemember{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
}