#mainContainerSignIn{
    display: flex;
    width: 100vw;
    height: calc(100vh - 100px);
    margin-left: 0px;
    margin-top: 0px;
    
        
}

#leftContainerSignIn{
    background-color: #CCCCF5;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#sideImage{
    width: 85%;
    height: 100%;
}

#rightContainerSignIn{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

 }

#rightContainerInnerboxSignIn{
    width: 65%;
    height: auto;
    padding: 8px;
    font-size: 18px;  

}

#SignInCheckbox{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    cursor: pointer; 
    color: rebeccapurple; 
}



  .signinInput {
    display: block;
    padding: 14px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 12px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    border: 1px solid blue;
    outline: none;
    
  }
#btnsubmit{
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    border: none;
    font-weight: bold;
}
#checkboxRemember{
    display: flex;
    align-items: center;
}
#checkAndForgotContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
#signinfooter{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#signinfooter div{
    margin-right: 10px;
}
.signinLinkDecoration{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}




@media screen and (max-width: 450px) {
    #leftContainerSignIn{
        display: none;
    }
    #rightContainerSignIn{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #rightContainerInnerboxSignIn{
        width: 65%;
        height: auto;
        padding: 8px;
        font-size: 15px;    
    }

    .signinInput{
    display: block;
    padding: 9px;
    width: 89%;
    margin-bottom: 18px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    border: 1px solid blue;
    outline: none;
    
  }
  #checkbox{
    width: 15px;
    height: 15px;
    margin-right: 13px;
    cursor: pointer;   
  }
  .footer{
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    justify-content: space-between;
    text-decoration: none;
    
  }
  #innerfooter{
    margin-bottom: 10px;
  }
  #login{
    margin-left: 5px;
  }
  .footer a{
    text-decoration: none;
  }

  #checkAndForgotContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}

@media screen and (min-width: 450px) and (max-width: 920px) {
    #checkAndForgotContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    #checkboxRemember{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}