* {
    margin: 0px;
    padding: 0px;
    
 }
#mainHome{
    display: block;
    background-color: r;
}
#mainContainer{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #e6e6f9;
}

 #navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3939d6;
    height: 100px;
    font-size: large;
    color: white;
}
#navLeft{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.navLeftClass{
    margin-left: 30px;
}
#navCenter{
    display: flex;
    list-style: none;
}
#navCenter li {
    margin-right: 30px;
    padding: 0px;
    color: white;
}
#navRightSide{
    display: block;
    margin-right: 20px;
}
.navRightSideClass{
    margin-right: 30px;
    color: white;
    text-decoration: none;

}
#navRightBtn{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}


@media screen and (min-width: 600px) and (max-width: 850px) {
    #navBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        font-size: small;
        color: white;
        
    }
    #navRightBtn{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
    }
    #navLeft{
        margin-left: 10px;
    }
    .navLeftClass{
        margin-left: 10px;
        font-size: large;
    }
    #navCenter li {
        margin-right: 15px;
        padding: 0px; 
        color: white;  
    }
    #navRightSide{
        margin-right: 10px;
        color: white;
    }
    .navRightSideClass{
        margin-right: 10px;
        color: white;
        text-decoration: none;
    
    }


}

@media screen and (max-width: 420px){
    #home{
        display: none;
    }
    #navBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        font-size: xx-small;
        
    }
    #searchIcon{
        width: 25px;
    }
    #jobSearch{
        font-size: x-small;
    }
    #navRightBtn{
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 4px;
        padding-bottom: 4px;
        border-radius: 3px;
        font-size: x-small;
    }
    #navLeft{
        margin-left: 5px;
    }
    .navLeftClass{
        margin-left: 5px;
        font-size: small;
    }
    #navCenter li {
        margin-right: 7px;
        padding: 0px; 
    }
    #navRightSide{
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
    .navRightSideClass{
        margin-right: 5px;
        text-decoration: none;
    
    }
}



/* herosection */
#section1{
    position: relative;
}
#heroSectionImg{
    width: 100%;
    position: relative;
    margin-top: -5px;
}
#heroimg{
    height: 500px;
    width: 100%;
    background-color: #3939d6;
}
#innerHeroSection{
    width: 40%;
    padding: 50px;
    color: white;
    position: absolute;
    left: 0px;
    top: 0px;
    
}
.jobListed{
    font-size: x-large;
    margin-top: 20px;
}
#jobListedH3{
    font-size: 40px;
}
#dreamJob{
    font-size: 50px;
}
#innerHeroSectionBtn{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 50px;
    cursor: pointer;
    
}



@media screen and (min-width: 600px) and (max-width: 850px) {
    #heroimg{
        height: 400px;
        width: 100%;
        background-color: #3939d6;
    }
    #innerHeroSection{
        width: 50%;
        height: 55%;
        padding: 30px;
        color: white;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .jobListed{
        font-size: x-large;
        margin-top: 10px;
    }
    #jobListedH3{
        font-size: 30px;
    }
    #dreamJob{
        font-size: 40px;
    }
    #innerHeroSectionBtn{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    margin-top: 30px;
}
}

@media screen and (max-width: 420px){
    #heroimg{
        height: 300px;
        width: 100%;
        background-color: #3939d6;
    }
    #innerHeroSection{
        width: 60%;
        height: 60%;
        padding: 10px;
        color: white;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .jobListed{
        font-size: small;
        margin-top: 10px;
    }
    #jobListedH3{
        margin-top: 0px;
        font-size: large;
    }
    #dreamJob{
        font-size: 22px;
    }
    #innerHeroSectionBtn{
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: small;
    margin-top: 20px;
    border-radius: 3px;
    
    }

}



/* content Section */

#mainContent{
    width: 100%;
    background-color: #e6e6f9; 
    padding-top: 50px;
    position: relative;
    top: -5px;
    
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 10px; 

}
.inputClass{
    border: 1px solid #3939d6;
    border-radius: 5px;
    color: #121213;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    font-size: large;
    margin-right: 20px;
}
.inputClass::placeholder{
    color: #121213;
}
#inputContainer select{
    cursor: pointer;
}
#findBtn{
    border-radius: 5px;
    border: 1px solid #3939d6;
    background-color: #3939d6;
    color: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    font-size: large;
    cursor: pointer;
}
#popularSearch{
    display: flex;
    font-size: large;
    margin-top: 10px;
    align-items: center;
}
.popularSearchItem{
    background-color: #4d4ddb;
    margin-left: 10px;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    
    #inputContainer{
        padding: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .inputClass{
        width: 18%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
        margin-right: 10px;
    }
    #findBtn{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: medium;
    }
    #popularSearch{
        display: flex;
        font-size: medium;
        align-items: center;
    }
}

@media screen and (max-width: 420px){
    #mainContent{
        padding-top: 25px;
    }
    #inputContainer{
        padding: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
    }
    .inputClass{
        width: 17%;
        padding: 4px;
        font-size: xx-small;
        margin-right: 1px;
        border-radius: 3px;
    }
    #inputContainer select{
        cursor: pointer;
        padding: 3px;

    }
    #findBtn{
        padding: 3px;
        font-size: x-small;
    }
    #popularSearch{
        display: flex;
        align-items: center;
        border-radius: 3px;
    }
    #popularHead{
        font-size: 8px;
        font-weight: bold;
    }
    .popularSearchItem{
        font-size: 5px;
    }
    

}


/* section 3/ Feature section */

#featureSection{
    width: 100vw;
    color: white;
}
#tem2img{
    width: 100%;
}
#innerFeatureSection{
    width: 100%;
    display: flex;
    background-color: #2a2ad1;
    margin-top: -5px;  
}
#leftContent{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px;
    margin-left: 30px;
}

.contentBox{
    width: 250px;
    height: 150px;
    margin-right: 25px;
    padding: 10px;
    background-color: #17176e;
    font-size: large;
    border-radius: 5px;  
    
}
.iconSize{
    height: 50px;
}
.box{
    margin-bottom: 45px;
}
#leftContentRightBox{
    margin-top: 40px;
}
.content1{
    margin-left: 20px;
}
#leftContent h3{
    margin-bottom: 7px;
}
#rightContent{
    width: 50%;
    padding: 10px;
}
#rightContent h2 {

    font-size: 50px;
    margin-bottom: 40px;
}
#rightContent p{
    font-size: x-large;
}
#rightContentInnerBox{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
}
#tem3img{
    width: 100vw;
    margin-top: -5px;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    .iconSize{
        width: 30%;
    }
    #leftContent{
        width: 50%;
        padding: 30px;
    }
    .contentBox{
        width: fit-content;
        height: fit-content;
        margin-right: 25px;
        padding: 10px;
        background-color: #17176e;
        font-size: medium;
        border-radius: 5px;    
    }
    .iconSize{
        height: 40px;
    }
    .box{
        margin-bottom: 40px;
    }
    #rightContentInnerBox{
        margin-left: 30px;
        margin-right: 30px;
    }
    #rightContent h2 {
        font-size: 34px;
        margin-bottom: 30px;
    }
    #rightContent p{
        font-size: large;
    }
   
}

@media screen and (max-width: 420px){
    #innerFeatureSection{
        padding-top: 20px;
    }
    #leftContent{
        display: block;
        justify-content: center;
        width: 50%;
        padding: 10px;
        margin-left: 10px;
    }
    .iconSize{
        width: 25%;
        height: auto;
    }
    #leftContent{
        width: 50%;
        padding: 0px;
    }
    .contentBox{
        width: fit-content;
        height: fit-content;
        margin-right: 0px;
        padding: 5px;
        background-color: #17176e;
        font-size: small;
        border-radius: 6px;   
    }
    
    .box{
        margin-bottom: 10px;
    }
    .box4{
        margin-bottom: 10px;
    }
    #leftContentRightBox{
        margin-top: 10px;
    }
    #rightContentInnerBox{
        margin-left: 0px;
        margin-right: 0px;
    }
    #rightContent h2 {
        font-size: medium;
        margin-bottom: 20px;
    }
    #rightContent p{
        font-size: small;
    }

}


/* section 3 */

#companiesSection{
    width: 100vw;
    margin-top: -10px;
    background-color: #e6e6f9;
}
#innerCompaniesSection{
    display: flex;

}
#leftContCompanies{
    width: 50%;
    padding: 50px;
}
#leftContCompaniesInnerBox{
    display: flex;
    flex-direction: column;
}
#leftContCompaniesInnerBox h2{
    font-size: 50px;
    margin-bottom: 40px;
}
#leftContCompaniesInnerBox p{
    font-size: x-large;
}

#rightConatCompanies{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
#innerRightContentCompanies{
    display: flex;
}
#innerLeftCompaniesCard{
    margin-right: 25px;
}
#innerRightCompaniesCard{
    margin-top: 45px;
}

.companiesContentBox{
    width: 250px;
    height: 150px;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
}
.companiesBox1{
    background-color: #2a2ad1;
    color: white;
}
.companiesBox{
    background-color: white;
}
.cB1{
    margin-bottom: 45px;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    #companiesSection{
        width: 100vw;
        margin-top: -10px;
        background-color: #e6e6f9;
    }
    #leftContCompanies{
        width: 50%;
        padding: 30px;
    }
    #leftContCompaniesInnerBox h2{
        font-size: xx-large;
        margin-bottom: 30px;
    }
    #leftContCompaniesInnerBox p{
        font-size: large;
    }
    #rightConatCompanies{
        width: 50%;
        padding: 30px;
    }
    .companiesContentBox{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        font-size: large;
        border-radius: 5px;
    
    }
    
}


@media screen and (max-width: 420px){
    #companiesSection{
        width: 100vw;
        margin-top: -10px;
        background-color: #e6e6f9;
    }
    #innerCompaniesSection{
        padding-top: 30px;
        padding-bottom: 30px;
    
    }
    #leftContCompanies{
        width: 50%;
        padding: 10px;
    }
    #leftContCompaniesInnerBox h2{
        font-size: large;
        margin-bottom: 20px;
    }
    #leftContCompaniesInnerBox p{
        font-size: small;
    }
    #rightConatCompanies{
        width: 50%;
        padding: 10px;
    }
    #innerRightContentCompanies{
        display: block;
    }
    .companiesContentBox{
        width: fit-content;
        height: fit-content;
        padding: 10px;
        font-size: medium;
        border-radius: 5px;
    }
    .cB1{
        margin-bottom: 10px;
    }
    .companiesBox1{
        background-color: #2a2ad1;
        color: white;
    }
    #innerLeftCompaniesCard{
        margin-right: 0px;
    }
    #innerRightCompaniesCard{
        margin-top: 15px;
    }
}












/* section 4 */

#sec4MainContainer{
    /* margin-top: -10px; */
    width: 100vw;
    background-color: #3c3cd6;
    color: white;
    font-size: x-large;
}
#temp4img{
    width: 100vw;
    margin-top: -5px;
}
#sec4ContentContainer{
   width: 100%;
   display: flex;
}
#sec4LeftContainer{
    width: 50%;
    padding: 60px;
}
.sec4HeadMargin{
    margin-bottom: 50px;
}
.sec4Margin{
    margin-bottom: 20px;
}
#sec4RightContainer{
    width: 50%;
    padding: 60px;
}
#temp5img{
    width: 100vw;
}
.temp4btn{
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    
}
@media screen and (min-width: 600px) and (max-width: 850px) {
    #sec4MainContainer{
        font-size: large;
    }
    #sec4LeftContainer{
        width: 50%;
        padding: 30px;
    }
    .sec4HeadMargin{
        margin-bottom: 35px;
    }
    .sec4Margin{
        margin-bottom: 10px;
    }
    #sec4RightContainer{
        width: 50%;
        padding: 30px;
    }
    .temp4btn{
        padding: 10px;
        font-size: medium;    
    }
}

@media screen and (max-width: 420px){
    #sec4MainContainer{
        font-size: 11px;
    }
    #sec4LeftContainer{
        width: 50%;
        padding: 10px;
    }
    .sec4HeadMargin{
        margin-bottom: 20px;
    }
    .sec4Margin{
        margin-bottom: 35px;
    }
    #sec4RightContainer{
        width: 50%;
        padding: 10px;
    }
    .temp4btn{
        padding: 6px;
        font-size: small;  
        border-radius: 3px;  
    }
}






/*testimonial section */
#testimonialMainContainer{
    display: flex;
    background-color: #e6e6f9;
    padding: 20px;
    position: relative;
    margin-top: -5px;
}
.testimonialContainer{
    width: 50%;
}
.testimonialLeftContainer{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
#testimonialMainImg{
    margin-top: 1vw;
    width: 20vw ;
    clip-path: circle();    
}
.testImg{
    width: 8vw;
    height: auto;
    position: absolute;
}
#img1{
    left: 18vw;
    top: 1vw;
}
#img2{
    
    left: 15.5vw;
    top: 11vw;
}
#img3{
    left: 18vw;
    top: 21.5vw;
}
#img4{
    left: 26.5vw;
    top: 29vw;
}
#img5{
    left: 7vw;
    top: 3vw;
}
#img6{
    left: 7vw;
    top: 19vw;
}
#img7{
    left: 15.5vw;
    top: 32vw;
}
.testimonialRightContainer{
   margin-left: 20px;
}
.testimonialRightContainer h2{
    font-size: 45px;
    margin-bottom: 40px;
}
.testimonialRightContainer p{
    font-size: x-large;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    #testimonialMainImg{
        margin-top: 3.5vw;
        width: 17vw ;
        clip-path: circle();    
    }
    .testimonialRightContainer h2{
        font-size: xx-large;
        margin-bottom: 30px;
    }
    .testimonialRightContainer p{
        font-size: x-large;
    }
}


@media screen and (max-width: 420px){
    #testimonialMainImg{
        margin-top: 3.5vw;
        width: 17vw ;
        clip-path: circle();    
    }
    .testimonialRightContainer h2{
        font-size: large;
        margin-bottom: 20px;
    }
    .testimonialRightContainer p{
        font-size: small;
    }
}


/* footer */
/* 
#footerMainContainer{
    width: 100vw;
    color: white;
    background-color: black;
    
}
#footertemImg{
    width: 100vw;
}
.footerSearchIcon{
    display: flex;
    align-items: center;
    font-size: x-large;
    margin-bottom: 20px;
}
.footerSearchIcon h3{
    margin-left: 20px;
}
.innerFooterContainer{
    background-color: black;
    padding: 45px;
}
.innerFooter2Container{
    width: 100%;
    display: flex;
}
.FooterLeftContainer{
    width: 40%;
   
}
.FooterLeftContainer h2{
    font-size: xx-large;
}
.FooterRightContainer{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.footerHeading{
    margin-bottom: 30px;
    font-size: x-large;
}
.footerPara{
    margin-bottom: 20px;
}

#subsEmailContainer{
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    
}
#subscribeEmail::placeholder{
    color: white;
}
#subsEmailContainer input{
    border: 1px solid black;
    background-color: black;
    outline: none;
    border: none;
    color: white;
}
#subsEmailContainer button{
    background-color: #4d4ddb;
    border: 1px solid #4d4ddb;
    color: white;
    border-radius: 2px;
    margin-left: 5px;
    padding: 2px;
    cursor: pointer;
}

@media screen and (min-width: 600px) and (max-width: 850px) {
    .footerSearchIcon{
        font-size: medium;
        margin-bottom: 15px;
    }
    .footerSearchIcon h3{
        margin-left: 7px;
    }
    .innerFooterContainer{
        height: 300px;
        padding: 30px;
    }

    .FooterLeftContainer h2{
        font-size: large;
    }
    
    .footerHeading{
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: medium;
    }
    .footerPara{
        margin-bottom: 13px;
    }
    #subsEmailContainer{
         padding: 0.6vw;
    }
    
    #subsEmailContainer input{
        width: 12vw;    
    }
    #subsEmailContainer button{
        border-radius: 2px;
        margin-left: 2px;
        padding: 1px;   
    }
}


@media screen and (max-width: 420px){
    .footerSearchIcon{
        font-size: small;
        margin-bottom: 8px;
    }
    .footerSearchIcon h3{
        margin-left: 5px;
        font-size: large;
    }
    .innerFooterContainer{
        height: 200px;
        padding: 10px;
    }

    .FooterLeftContainer h2{
        font-size: medium;
    }
    
    .footerHeading{
        margin-bottom: 10px;
        margin-top: 5px;
        font-size: large;
    }
    .footerPara{
        margin-bottom: 5px;
    }
    #emailMainContainer{
        display: none;
    }
    #find{
        display: none;
    }
} */